//colors
$main_plain_white: #fff;
$main-grey-font-color: #7a7a7a;
$main-mint-font-color: #6cc7ea;
$global-link-color: #0e98d9;
$signin-button-color: #008edb;
$signin-button-border-bottom-color: #00619a;
$signin-button-box-shadow-color: #7A7A7A;
$navbar-area-border-top-color: #e3e3e3;
$nav-list-font-color: #272727;
$counter-btn-background-color: #e1e1e1;
$counter-btn-border-bottom-color: #c1c1c1;
$center-count-button-font-color: #4a9606;
$red-count-font-color: #c44242;
$outline-comments-before-content-background: #f9f8f0;
//main sizes
$main-container-max-width: 920px;
$main-head-area-cover-font-size: 12px;
$icon-size-sm-font-size: 8px;
$padded-area-padding-left: 70px;
$city-dropbtn-font-size: 11px;
$city-dropbtn-position-left: 190px;
$city-dropbtn-border-radius: 3px;
$dropdown-content-width: 117px;
$dropdown-content-height: 80px;
$dropdown-content-position-top: 90px;
$dropdown-content-position-left: 190px;
$signin-button-max-width: 55px;
$signin-button-height: 25px;
$signin-button-font-size: 14px;
$site-search-border-radius: 30px;
$nav-list-font-size: 16px;
$inner-list-top-position: 60px;
$add-title-line-height: 1.6;
$news-feed-container-max-width: 600px;
$article-title-font-size: 35px;
$article-content-font-size: 13px;
$review-container-border-radius: 5px;
$bio-container-max-width: 150px;
$bio-container-width: 100px;
$review-container-max-width: 420px;
$img-counter-position-right: 42px;
$writer-name-head-text-font-size: 18px;
$writer-prof-max-width: 400px;
$social-sharing-max-width: 235px;
$vk-share-height: 20px;
$comments-count-font-size: 28px;
$add-comment-btn-max-width: 175px;
$banner-newpost-section-max-width: 240px;
$banner-newpost-section-margin-left: 70px;
$comments-head-text-font-size: 19px;
$main-foot-logo-max-width: 215px;
$admin-connection-block-line-height: 2.1;
